$font-path: 'assets/fonts';

@font-face {
font-family: 'Menlo Regular';
font-style: normal;
font-weight: normal;
src: local('Menlo Regular'), url('#{$font-path}/Menlo-Regular.woff') format('woff');
}
