$text-color: lighten(black, 35%);
$accent-color: #2AB3E7;
$bg-color: #F1F1F1;
$page-padding-top-bottom: 6rem;

$ionicons-font-path: '~ionicons/dist/fonts';

$enable-flex: true;

@import '~normalize.css/normalize.css';
@import '~bootstrap/scss/bootstrap.scss';
@import '~ionicons/dist/scss/ionicons.scss';
@import '~draft-js-mention-plugin/lib/plugin.css';
@import '_fonts.scss';

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

body {
  color: $text-color;
  background-color: $bg-color;
  // font-family: Helvetica, Helvetica Neue, sans-serif;
  font-family: 'Menlo Regular', Consola, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  overflow-y: hidden;
  font-size: 18px;
}

.modal {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s ease;
  font-size: 0.9em;
  line-height: 1.7;

  .modal-inner {
    max-height: 80vh;
    max-width: 60vw;
    background: lighten($bg-color, 5%);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(black, 0.06);
    overflow-y: auto;

    kbd {
      background-color: darken($bg-color, 60%);
    }
  }

  &.active {
    opacity: 1;
    &, .modal-inner {
      pointer-events: auto;
    }
  }
}

#root {
  height: 100%;
}

.content {
  height: 100%;
}

a {
  text-decoration: none;
  color: $text-color;
}

.DraftEditor-root, .DraftEditor-editorContainer, .public-DraftEditor-content {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.public-DraftEditor-content > div {
  padding-bottom: $page-padding-top-bottom;
}

.block-paragraph {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid $accent-color;
    box-sizing: border-box;
    line-height: 1rem;
    padding: 0.68rem 1rem;
  }
}

.text-block {
  color: $text-color;
  padding: 0.68rem 1rem;
  min-height: 1rem;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 3px;
  outline: none;
  transition: all .2s ease;
  white-space: pre-wrap;

  &.new {
    // background: coral;
    min-height: 100vh;
    border-color: transparent !important;
    cursor: auto !important;
  }

  &:hover {
    border-color: $accent-color;
  }

  &:hover:not(:focus) {
    cursor: pointer;
  }

  &:active {
    border-color: darken($accent-color, 6%);
  }

  &:empty {
    border-color: transparent;
  }

  &:only-of-type {
    padding-top: $page-padding-top-bottom;
    margin-top: 0;
  }

  &:first-of-type:not(:only-of-type) {
    margin-top: $page-padding-top-bottom;
    padding-top: 0.68rem;
  }

  &:last-of-type {
    padding-bottom: $page-padding-top-bottom;
  }

  color: darken($accent-color, 15%);
  text-shadow: 0px 0px 0px $text-color;
  -webkit-text-fill-color: transparent;
}

::-webkit-input-placeholder {
  color: darken($text-color, 20%);
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

.panel {
  position: absolute;
  max-width: 30vw;
  opacity: 0.3;
  left: 0;
  top: 0;
  height: 100%;
  box-sizing: border-box;
  padding: 2rem 1.5rem;
  background: darken($bg-color, 8%);
  box-shadow: 0 0 20px rgba(black, 0.1);
  transition: opacity .3s ease;
  overflow-y: auto;

  &:hover {
    opacity: 1;
  }

  &:empty {
    padding: 0;
  }
}

.action-btns {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 1rem;
  opacity: 0.5;
  transition: all .3s ease;

  &:hover {
    opacity: 1;
  }

  .btn {
    font-size: 1.3em;
    outline: none !important;
    flex: 1;
    padding: 0.3em 0.5em;
    border-radius: 50%;
    background: $accent-color;
    // border: 1px solid white;
    color: white;
    opacity: 0.5;
    transition: all .3s ease;
    box-shadow: 2px 2px 10px 3px rgba($accent-color, 0.6);

    &:hover {
      opacity: 1;
    }

    &:active {
      transform: translateY(0.15rem);
      box-shadow: 2px 2px 6px 1px rgba($accent-color, 0.6);
    }

    i {
      position: relative;
      font-weight: bold;
      top: 1px;
      text-shadow: 1px 2px 5px rgba(white, 0.2);
    }

    margin-bottom: 0.75rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.panel-body {
  min-width: 10vw;
  font-size: 0.8em;
  -webkit-user-select: none;

  a {
    text-decoration: none;
    color: inherit;
  }

  .card {
    padding: 1em;
    opacity: 0.6;
    box-shadow: 1px 1px 12px rgba(white, 0.5);
    transition: all .3s ease;
    cursor: pointer;
    overflow-wrap: break-word;

    &:hover {
      opacity: 1;
      transform: translateY(-0.1em);
      box-shadow: 1px 1px 10px rgba(white, 0.3);
    }
  }

  section {
    margin: 2rem 0;
  }
}

.character-listing {
  .card-block {
    padding: 0;
  }
}

.card.add-new {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: lighten($text-color, 20%);
  background: darken(white, 15%);
  border: 6px dashed darken(white, 25%);
  box-shadow: 1px 1px 12px rgba(black, 0.1);

  &:hover {
    opacity: 1;
    transform: translateY(-0.1em);
    box-shadow: 1px 1px 10px rgba(black, 0.1);
  }
}

.back-btn {
  a {
    font-size: 2em;
    opacity: 0.5;
    transition: opacity .3s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}

.panel-btns {
  position: absolute;
  top: 0;
  right: 0;
}

.panel-btns button {
  margin: 0;
  padding: 1.75rem;
  outline: none;
  background: transparent;
  border: 0;
  font-size: 1.5em;
  opacity: 0.3;
  cursor: pointer;

  &:hover {
    background: transparent;
    opacity: 0.6;
  }
}

.form-group {
  margin-bottom: 1.2rem;

  label {
    font-weight: bold;
  }

  .help-block {
    font-size: 0.9em;
    opacity: 0.7;
    font-style: italic;
  }
}

.btn-save {
  background: $accent-color;
  outline: none !important;
  color: white;

  opacity: 0.8;
  transition: all .3s ease;
  box-shadow: 2px 2px 10px 3px rgba($accent-color, 0.6);

  &:hover {
    opacity: 1;
  }

  &:active {
    transform: translateY(0.15rem);
    box-shadow: 2px 2px 6px 1px rgba($accent-color, 0.6);
  }
}

.search-input {
  .form-control {
    background: darken($bg-color, 6%);
    transition: background .3s ease;

    &:hover {
      background: darken($bg-color, 3%);
    }

    &:focus {
      background: lighten($bg-color, 3%);
    }
  }
}


.slide-enter {
  transform: translate3d(-100%, 0, 0);
}

.slide-enter.slide-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all .5s ease;
}

.slide-leave {
  transform: translate3d(0, 0, 0);
}

.slide-leave.slide-leave-active {
  transform: translate3d(-100%, 0, 0);
  transition: all .3s ease;
}

.swap-enter {
  opacity: 0.01;
  transition: all .3s ease;
}

.swap-enter.swap-enter-active {
  opacity: 1;
}

.swap-leave {
  opacity: 1;
  transform: translateX(0);
  transition: all .3s ease;
}

.swap-leave.swap-leave-active {
  opacity: 0;
}
